*{
    font-family: "Poppins";
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.popup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    position: fixed;
    background-color: white;
    height: 600px;
    width: 1200px;
    box-shadow: 5px 5px 50px;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);

    padding: 50px 50px;
    border-radius: 30px;

    visibility: hidden;
    z-index: 1000;
    transition:  transform .2s;
}

.open-pop{
    visibility: visible;
    transform: translate(-50%,-50%) scale(1);
}

.poup .image{
    /* border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; */
    overflow: hidden;
}

.popup img{
    max-width: 100%;
    height: auto;
    min-height: 100%;
}

.product-info{
    padding: 5% 5%;
    
}

.product-info .info{
    height: 80%;
    width: 100%;
}

.product-info h1{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.product-info p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
}

.product-info .info .quantity button{
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
}

.product-info .info .quantity{
    display: flex;
}
.product-info .info .quantity #quantity{
    height: 20px;
    width: 20px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid black;
    text-align: center;
    padding: 0 0px 0px 5px;
}

.product-info #description{
    padding-top: 10px;
    height: 40%;
    width: 100%;
}

.product-info .buttons{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.product-info .buttons button{
    height: 70px;
    width: 45%;
    background-color: rgb(4, 63, 201);
    color: aliceblue;
    border: none;
    outline: none;
    font-size: 20px;
}

.product-info .buttons button{
    height: 70px;
    width: 45%;
    background-color: #20bbdb;
    color: aliceblue;
    border: none;
    outline: none;
    font-size: 20px;
    transition: transform .2s;
}

.product-info .buttons button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
#close-icon{
    background-color: white;
    
    border-radius: 60%;
    height: 20px;
    position: absolute;
    top: 0%;
    right: 0;
    z-index: 100;
    cursor: pointer;
}